<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<!--	<listeners>-->
	<!--		<listener class-name="UtilityPack.ScreenshotListener" />-->
	<!--	</listeners>-->

	<!-- Create Folder and Delete Data From Folder -->
	<test name="FolderManager">
		<classes>
			<class name="UtilityPack.FolderManager" />
		</classes>
	</test>


	<!-- Web Happy Flow -->
	<test name="HappyFlowForWeb">
		<parameter name="platformName" value="web" />
		<parameter name="browserName" value="chrome" />
		<classes>
			<class name="webTestCasess.TC_GoogleSearchDemo_Web" />
		</classes>
	</test>

	<!--Android Happy Flow -->
	<!--	<test name="HappyFlowForAndroidApp">-->
	<!--		<parameter name="platformName" value="android" />-->
	<!--		<parameter name="deviceName" value="Pixel_7" />-->
	<!--		<parameter name="udid" value="dsflsdj577676" />-->
	<!--		<parameter name="appPackage" value="com.example.myapp" />-->
	<!--		<parameter name="appActivity" value="com.example.myapp.MainActivity"
	/>-->
	<!--		<parameter name="appLocation" value="/path/to/myapp.apk" />-->
	<!--		<parameter name="requiredAndroidVersion" value="114" />-->
	<!--		<parameter name="currentAndroidVersion" value="144.0.6099.144" />-->
	<!--		<classes>-->
	<!--			<class name="DriverManager_Pack.MultiPlatformLauncher" />-->
	<!--		</classes>-->
	<!--	</test>-->

	<!--iOS Happy Flow -->
	<!--	<test name="HappyFlowForiOSApp">-->
	<!--		<parameter name="platformName" value="ios" />-->
	<!--		<parameter name="deviceName" value="iPhone 14 Pro" />-->
	<!--		<parameter name="udid" value="dsflsdj577676" />-->
	<!--		<parameter name="appLocation" value="/path/to/myiosapp.ipa" />-->
	<!--		<parameter name="requiredIOSVersion" value="15" />-->
	<!--		<parameter name="currentIOSVersion" value="17.2" />-->
	<!--		<classes>-->
	<!--			<class name="DriverManager_Pack.MultiPlatformLauncher" />-->
	<!--		</classes>-->
	<!--	</test>-->
</suite>
